
/*********App.js*********/
.App {
  width: calc(85% - 10px);
  margin: 0 auto;
  background: #f6f6ef;
}

.search-results {
  background: #f6f6ef;
  align-items: center;
  padding: 0 2rem;
}

.search-header {
  width: 100% !important;
  display: flex;
  align-items: center;
  background: #ff742b;
}

.header-logo {
  flex: 1 0 180px;
  max-width: 180px;
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  margin-right: 8px;
}

.search-bar {
  position: relative;
  display: inline-block;
  width: calc(100% - 324px);
  margin-right: 16px;
  background: white;
}

.settings {
  margin-left: 30px;
}

/*********DisplayArticle.js*********/
.article {
  background: #f6f6ef;
  align-items: center;
  padding: 0 2rem;
}

